Repository yanqzsu/ng-cornerstone: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --fix",
  "*.{scss,less,css}": "stylelint --fix",
  "*.{ts,scss,less,html,js,css}": "prettier --write --ignore-unknown"
}

feat(eslint): update eslint to 17
  package-lock.json
  package.json
Due: none

chore(eslit): rollback
  package.json
Due: none

feat(test): e
  package-lock.json
Due: none

fix(worker): worker not found
  .vscode/settings.json
  angular.json
  package-lock.json
  package.json
  projects/ncv-example/src/app/app.component.ts
  projects/ncv-example/tsconfig.worker.json
  projects/ng-cornerstone/src/lib/core/init/cornerstone.service.ts
  projects/ng-cornerstone/src/lib/viewer/viewer.component.ts
  proxy.conf.json
Due: eslint --fix, prettier --write --ignore-unknown

feat(core): update to cs 3.0
  extra-webpack.config.js
  package-lock.json
  package.json
  projects/ncv-example/src/app/app.component.html
  projects/ncv-example/src/app/app.component.ts
  projects/ncv-example/src/app/configs/image-config.ts
  projects/ncv-example/src/app/dialog.component.ts
  projects/ng-cornerstone/package.json
  projects/ng-cornerstone/src/lib/core/init/cornerstone.service.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(layout): new layout
  projects/ncv-example/src/app/app.component.ts
  projects/ncv-example/src/app/configs/image-config.ts
  projects/ncv-example/src/app/dialog.component.ts
  projects/ng-cornerstone/src/lib/core/config/layout.ts
  projects/ng-cornerstone/src/lib/core/config/types.ts
  projects/ng-cornerstone/src/lib/tool/tool-bar.component.ts
  projects/ng-cornerstone/src/lib/viewer/viewer.component.html
  projects/ng-cornerstone/src/lib/viewer/viewer.component.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.component.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(viewport): refactor viewport to support multiple viewport types
  projects/ncv-example/src/app/app.component.ts
  projects/ncv-example/src/app/configs/image-config.ts
  projects/ng-cornerstone/src/lib/core/config/layout.ts
  projects/ng-cornerstone/src/lib/core/config/types.ts
  projects/ng-cornerstone/src/lib/core/init/cornerstone.service.ts
  projects/ng-cornerstone/src/lib/tool/tool-bar.component.ts
  projects/ng-cornerstone/src/lib/viewer/viewer.component.html
  projects/ng-cornerstone/src/lib/viewer/viewer.component.scss
  projects/ng-cornerstone/src/lib/viewer/viewer.component.ts
  projects/ng-cornerstone/src/lib/viewport/base-viewport.component.ts
  projects/ng-cornerstone/src/lib/viewport/index.ts
  projects/ng-cornerstone/src/lib/viewport/orthographic-viewport.component.ts
  projects/ng-cornerstone/src/lib/viewport/stack-viewport.component.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.component.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.module.ts
  projects/ng-cornerstone/src/lib/viewport/volume3d-viewport.component.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(version): update to 3.4.0
  README.md
  package.json
Due: none

chore(version): update to 3.4
  projects/ng-cornerstone/package.json
Due: none

chore(changelog): update changelog
  CHANGELOG.md
Due: none

chore(version): changelog
  CHANGELOG.md
Due: none

chore(version): update to 3.4.2 and clean up configuration files
  angular.json
  extra-webpack.config.js
  orthanc/default.conf
  package-lock.json
  package.json
  projects/ncv-example/src/app/app.component.ts
  projects/ncv-example/src/app/configs/image-config.ts
  projects/ng-cornerstone/package.json
  projects/ng-cornerstone/src/lib/core/config/layout.ts
  projects/ng-cornerstone/src/lib/core/init/cornerstone.service.ts
  projects/ng-cornerstone/src/lib/tool/tool-bar.component.ts
  projects/ng-cornerstone/src/lib/viewer/viewer.component.html
  projects/ng-cornerstone/src/lib/viewer/viewer.component.ts
  projects/ng-cornerstone/src/lib/viewport/base-viewport.component.ts
  projects/ng-cornerstone/src/lib/viewport/orthographic-viewport.component.ts
  projects/ng-cornerstone/src/lib/viewport/stack-viewport.component.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.component.ts
  projects/ng-cornerstone/src/lib/viewport/volume3d-viewport.component.ts
  tsconfig.json
Due: eslint --fix, prettier --write --ignore-unknown

chore(changelog): update changelog for version 3.4.2
  CHANGELOG.md
Due: none

chore(docs): update README
  README.md
Due: none

docs: improve README
  README.md
Due: none
