Repository yanqzsu/ng-cornerstone: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint --allow-empty-input, prettier --check --ignore-unknown

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --cache",
  "*.{scss,less,css}": "stylelint --allow-empty-input",
  "*.{ts,scss,less,html,md,js,css}": "prettier --check --ignore-unknown"
}

chore: commitlint rules
  .lintstagedrc.json
  CHANGELOG.md
  README.md
  commitlint.config.js
  package-lock.json
  package.json
  projects/ng-cornerstone/LICENSE.txt
  projects/ng-cornerstone/README.md
  projects/ng-cornerstone/ng-package.json
  projects/ng-cornerstone/package.json
Due: eslint --cache, prettier --check --ignore-unknown

fix(core): remove useless code
  .gitignore
  .prettierignore
  projects/ng-cornerstone/package.json
  projects/ng-cornerstone/src/lib/core/config/types.ts
Due: eslint --cache, prettier --check --ignore-unknown

feat(devtools): add some dev tools, version up
  projects/ng-cornerstone/package.json
Due: none

chore: changelog updated
  CHANGELOG.md
Due: prettier --check --ignore-unknown

fix(gulp): add gulp task to copy readme.md
  .husky/pre-commit
  .lintstagedrc-fix.json
  .lintstagedrc.json
  gulpfile.js
  package-lock.json
  package.json
  projects/ng-cornerstone/src/lib/components/button/button.component.scss
Due: eslint --cache, stylelint --allow-empty-input, prettier --check --ignore-unknown

chore(build): version up
  CHANGELOG.md
  projects/ng-cornerstone/package.json
Due: prettier --check --ignore-unknown

feat(life-cycle): add destroy method, optimize init hook
  README.md
  package-lock.json
  projects/ncv-example/src/app/app.component.html
  projects/ncv-example/src/app/app.component.ts
  projects/ng-cornerstone/package.json
  projects/ng-cornerstone/src/lib/core/init/corner-stone-init.service.ts
  projects/ng-cornerstone/src/lib/image-box/image-box.component.html
  projects/ng-cornerstone/src/lib/image-box/image-box.component.scss
  projects/ng-cornerstone/src/lib/image-box/image-box.component.ts
  projects/ng-cornerstone/src/lib/image-box/image-box.module.ts
  projects/ng-cornerstone/src/lib/tool/tool-bar.component.ts
  projects/ng-cornerstone/src/lib/tool/tool.config.ts
  projects/ng-cornerstone/src/lib/tool/tool.module.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.component.html
  projects/ng-cornerstone/src/lib/viewport/viewport.component.scss
  projects/ng-cornerstone/src/lib/viewport/viewport.component.spec.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.component.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.module.ts
  tsconfig.json
Due: eslint --cache, stylelint --allow-empty-input, prettier --check --ignore-unknown

docs(release): update to 0.0.7
  CHANGELOG.md
  projects/ng-cornerstone/package.json
  projects/ng-cornerstone/src/lib/viewport/viewport.component.ts
Due: eslint --cache, prettier --check --ignore-unknown

chore(package): ignore package.json
  .gitignore
Due: none

refactor(ng): ng update to 15
  package-lock.json
  package.json
  projects/ncv-example/.browserslistrc
  projects/ncv-example/src/test.ts
  projects/ng-cornerstone/.browserslistrc
  projects/ng-cornerstone/src/test.ts
  projects/playground/.browserslistrc
  tsconfig.json
Due: eslint --cache, prettier --check --ignore-unknown

refactor(ng): ng-cdk update to 15
  package-lock.json
  package.json
Due: none

refactor(ng): ng-eslint update to 15
  .gitignore
  angular.json
  package-lock.json
  package.json
Due: none

refactor(ng): ng-custom-webpack update to 15
  package-lock.json
  package.json
Due: none

refactor(ng): update ng-cdk to 15
  projects/ng-cornerstone/package.json
Due: none

refactor(ng): update ng to 16
  package-lock.json
  package.json
Due: none

feat(volume3d): support volume3d, update cornerstone to 1.45.1
  package-lock.json
  package.json
  projects/ncv-example/src/app/app.component.ts
  projects/ng-cornerstone/ng-package.json
  projects/ng-cornerstone/package.json
  projects/ng-cornerstone/src/lib/components/icon/icon.service.ts
  projects/ng-cornerstone/src/lib/components/icon/index.ts
  projects/ng-cornerstone/src/lib/core/config/types.ts
  projects/ng-cornerstone/src/lib/core/provider/image-id.service.ts
  projects/ng-cornerstone/src/lib/core/provider/setStackForViewports.ts
  projects/ng-cornerstone/src/lib/image-box/image-box.component.ts
  projects/ng-cornerstone/src/lib/tool/tool-bar.component.ts
  projects/ng-cornerstone/src/lib/tool/tool.config.ts
  projects/ng-cornerstone/src/lib/tool/tool.module.ts
  projects/ng-cornerstone/src/lib/tool/tool.types.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.component.ts
  projects/ng-cornerstone/src/public-api.ts
  projects/playground/src/app/core/config/type.ts
  projects/playground/src/app/tool-group/tool.config.ts
Due: eslint --cache, prettier --check --ignore-unknown

feat(angular): update to angular 16
  .eslintrc.json
  package-lock.json
  package.json
  projects/ncv-example/.eslintrc.json
  projects/ng-cornerstone/.eslintrc.json
  projects/ng-cornerstone/package.json
  projects/playground/.eslintrc.json
Due: none

docs(readme): docs about Volume3d
  CHANGELOG.md
  README.md
Due: prettier --check --ignore-unknown

feat(cornerstonejs): update to cornerstone to 1.68.1
  package-lock.json
  package.json
  projects/ng-cornerstone/ng-package.json
  projects/ng-cornerstone/package.json
Due: none

feat(nifti): support nifti loader
  README.md
  package-lock.json
  package.json
  projects/ncv-example/src/app/app.component.ts
  projects/ng-cornerstone/package.json
  projects/ng-cornerstone/src/lib/core/config/types.ts
  projects/ng-cornerstone/src/lib/core/init/initVolumeLoader.js
  projects/ng-cornerstone/src/lib/core/provider/image-id.service.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.component.ts
Due: eslint --cache, prettier --check --ignore-unknown

chore(version): version up
  CHANGELOG.md
Due: prettier --check --ignore-unknown

refactor(startup): optimized startup workflow
  projects/ncv-example/src/app/app.module.ts
  projects/ng-cornerstone/src/lib/components/button/button.module.ts
  projects/ng-cornerstone/src/lib/components/icon/icon.module.ts
  projects/ng-cornerstone/src/lib/components/icon/icon.service.ts
  projects/ng-cornerstone/src/lib/core/init/corner-stone-init.service.ts
  projects/ng-cornerstone/src/lib/tool/tool.module.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.module.ts
Due: eslint --cache, prettier --check --ignore-unknown

feat(version): update cs to 1.84.4
  angular.json
  package-lock.json
  package.json
  projects/ncv-example/src/polyfills.ts
Due: eslint --cache, prettier --check --ignore-unknown

feat(segment): init support segment
  projects/ncv-example/src/app/app.component.html
  projects/ncv-example/src/app/app.component.ts
  projects/ng-cornerstone/src/lib/core/config/types.ts
  projects/ng-cornerstone/src/lib/core/provider/image-id.service.ts
  projects/ng-cornerstone/src/lib/image-box/image-box.component.ts
  projects/ng-cornerstone/src/lib/tool/tool-bar.component.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.component.html
  projects/ng-cornerstone/src/lib/viewport/viewport.component.ts
Due: eslint --cache, prettier --check --ignore-unknown

feat(viewport): add viewer component and optimzie initialize logical
  projects/ncv-example/src/app/app.component.html
  projects/ncv-example/src/app/app.component.ts
  projects/ncv-example/src/app/app.module.ts
  projects/ng-cornerstone/src/lib/components/button/button.component.scss
  projects/ng-cornerstone/src/lib/core/config/types.ts
  projects/ng-cornerstone/src/lib/core/index.ts
  projects/ng-cornerstone/src/lib/core/init/corner-stone-init.service.ts
  projects/ng-cornerstone/src/lib/core/init/cornerstone.service.ts
  projects/ng-cornerstone/src/lib/core/provider/image-id.service.ts
  projects/ng-cornerstone/src/lib/image-box/image-box.component.html
  projects/ng-cornerstone/src/lib/image-box/image-box.component.scss
  projects/ng-cornerstone/src/lib/image-box/image-box.component.ts
  projects/ng-cornerstone/src/lib/image-box/image-box.module.ts
  projects/ng-cornerstone/src/lib/tool/tool-bar.component.html
  projects/ng-cornerstone/src/lib/tool/tool-bar.component.ts
  projects/ng-cornerstone/src/lib/tool/tool.config.ts
  projects/ng-cornerstone/src/lib/tool/tool.module.ts
  projects/ng-cornerstone/src/lib/tool/tool.types.ts
  projects/ng-cornerstone/src/lib/viewer/viewer.component.html
  projects/ng-cornerstone/src/lib/viewer/viewer.component.scss
  projects/ng-cornerstone/src/lib/viewer/viewer.component.ts
  projects/ng-cornerstone/src/lib/viewer/viewer.module.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.component.html
  projects/ng-cornerstone/src/lib/viewport/viewport.component.scss
  projects/ng-cornerstone/src/lib/viewport/viewport.component.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.module.ts
  projects/ng-cornerstone/src/public-api.ts
Due: eslint --cache, stylelint --allow-empty-input, prettier --check --ignore-unknown

chore(version): version up to 1.84.0
  package.json
  projects/ng-cornerstone/package.json
Due: none

feat(version-up): version up to 1.84
  README.md
  projects/ng-cornerstone/package.json
  projects/ng-cornerstone/src/lib/core/config/types.ts
Due: eslint --cache, prettier --check --ignore-unknown

refactor(version-up): changelog
  CHANGELOG.md
  package.json
  projects/ng-cornerstone/package.json
Due: prettier --check --ignore-unknown

docs(readme): add preview
  README.md
  docs/mpr.png
  docs/stack.png
  docs/volume.png
Due: prettier --check --ignore-unknown

Update README.md
  README.md
Due: prettier --check --ignore-unknown

docs(readme): integrate with netlify
  README.md
Due: prettier --check --ignore-unknown

feat(layout): nc-viewer support a new input: layout
  README.md
  projects/ncv-example/src/styles.scss
  projects/ng-cornerstone/src/lib/core/config/layout.ts
  projects/ng-cornerstone/src/lib/core/index.ts
  projects/ng-cornerstone/src/lib/viewer/viewer.component.html
  projects/ng-cornerstone/src/lib/viewer/viewer.component.scss
  projects/ng-cornerstone/src/lib/viewport/viewport.component.scss
  projects/ng-cornerstone/src/public-api.ts
Due: eslint --cache, stylelint --allow-empty-input, prettier --check --ignore-unknown

fix(toolbar): toolbar lifestyles handles incorrectly
  angular.json
  projects/ncv-example/src/app/app.component.html
  projects/ncv-example/src/app/app.component.scss
  projects/ncv-example/src/app/app.component.ts
  projects/ncv-example/src/app/app.module.ts
  projects/ng-cornerstone/src/lib/core/init/cornerstone.service.ts
  projects/ng-cornerstone/src/lib/tool/tool-bar.component.ts
  projects/ng-cornerstone/src/lib/viewer/viewer.component.ts
  projects/ng-cornerstone/src/lib/viewport/viewport.component.ts
Due: eslint --cache, stylelint --allow-empty-input, prettier --check --ignore-unknown

docs(version-up): version up and changelog
  CHANGELOG.md
  package.json
Due: prettier --check --ignore-unknown

chore(dialog-example): add a dialog example
  projects/ncv-example/src/app/app.component.ts
  projects/ncv-example/src/app/dialog.component.html
  projects/ncv-example/src/app/dialog.component.scss
  projects/ncv-example/src/app/dialog.component.ts
  projects/ng-cornerstone/package.json
Due: eslint --cache, stylelint --allow-empty-input, prettier --check --ignore-unknown

chore(config): mAKE sure LF
  .eslintrc.json
  .gitattributes
  .prettierrc.json
Due: none

feat(core): update to cs2.0
  angular.json
  extra-webpack.config.js
  package-lock.json
  package.json
  projects/ncv-example/src/app/app.component.ts
  projects/ncv-example/src/app/dialog.component.ts
  projects/ng-cornerstone/ng-package.json
  projects/ng-cornerstone/package.json
  projects/ng-cornerstone/src/lib/core/init/cornerstone.service.ts
  projects/ng-cornerstone/src/lib/core/init/initCornerstoneDICOMImageLoader.ts
  projects/ng-cornerstone/src/lib/core/init/initVolumeLoader.js
  projects/ng-cornerstone/src/lib/tool/tool-bar.component.ts
  projects/ng-cornerstone/src/lib/tool/tool.config.ts
  projects/ng-cornerstone/src/lib/viewer/viewer.component.ts
Due: eslint --cache, prettier --check --ignore-unknown

chore(config): prettier when autosave
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat(ng): update to 17
  package-lock.json
  package.json
Due: none
